<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
</head>
<body>
    <h2>Recommended Videos:</h2>
    <ul>
        {% for video in recommendations %}
            <li>
                <strong>Title:</strong> {{ video['title'] }}<br>
                <strong>Year of Release:</strong> {{ video['year_of_release'] }}<br>
                <strong>Genre:</strong> {{ video['genre'] }}<br>
                <strong>Tag:</strong> {{ video['tag'] }}<br>
                <strong>Like Count:</strong> {{ video['likeCount'] }}<br>
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>